.Main {
  height: 100%;
  position: relative;
}

.Main-url {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
}

.inp {
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 12px 20px;
}

.edit {
  margin-top: 4%;
  height: 60%;
}

#url {
  width: 70%;
}

button {
  width: 15%;
  background-color: #4CAF50;
  color: white;
}

#submit {
  margin-left: 5%;
}

#txt {
  width: 50%;
  height: 100%;
  float: left;
  resize: none;
}

#resolve {
  position: absolute;
  left: 40%;
  top: 84%;
}

#output {
  display: none;
  position: relative;
  width: 70%;
  height: 60%;
  left: 10%;
  top: 25%;
}
