.list {
  /* display: iniline; */
  float: left;
  width: 16%;
  height: 100%;
  margin-right: 8%;
  margin-left: 6%;
  overflow-y: scroll;
}

.outer {
  padding-left: 4%;
}

.inner {
  margin-top: 5%;
}
.item {
  padding: 4% 2%;
}
